@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

/* GLOBALNE SELEKTORY */
*{
	transition:400ms;
	box-sizing: border-box;
}   
html{
	scroll-behavior: smooth;
	font-size: 10px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}
/* Ukrycie nawigacji mobile*/
.menu-wrap
{
	display: none;
}

/* NAWIGACJA Desktop */
nav{
	background-color: #F9FBFA;
	color: #333;
	/*flex container*/
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 0;
	z-index: 999;
	/*podążające menu*/
	position: fixed;
	width: 100%;/*dodajemy, bo fixed usunęło domyślną szer.*/
    border-bottom:  0.2rem solid #40513B ;
}
nav ol{
	display: flex;
	justify-content: center;
	width: 80%;
}
nav ol img{
    height: 4rem;
    width: 4rem;
    margin:0;
    padding:0;
}
#TextLogo{
    text-decoration: none;
	padding: 1rem 2vw;
    padding-left: 0;
    margin:0;
	display: inline-block;
	color: #40513B;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 2rem;
    justify-content: flex-start;
    
   
}
nav ol li a{
	text-decoration: none;
	padding: 1.5rem 2vw;
	display: inline-block;
	color: #40513B;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 1.2rem;
    justify-content: space-evenly;

}
nav ol li a:hover{
	background-color: #40513B;
	color: #EDF1D6;
}
#komunikaty{
    background-color: #609966;
    color:#EDF1D6;
    min-height: 2vh;/* vh = viewport height = % wysokości okna przeglądarki */
	/* min-height = wysokość może być większa, w zależności od zawartości */
	padding-top: 5.5rem;
	/*FLEX CONTAINER*/
	display: none;/*uruchamiamy flexbox*/
	align-items: center;/*wyśrodkowanie na wysokość*/
	justify-content: center;
	
	/*żeby menu nie najeższało na treść*/
	scroll-margin-top:5.5rem;
    border-bottom:  0.1rem solid #40513B ;

}



/* WSZYSTKIE SEKCJE */
section{
	min-height: 95vh;/* vh = viewport height = % wysokości okna przeglądarki */
	/* min-height = wysokość może być większa, w zależności od zawartości */
	padding: 0 2rem;
	/*FLEX CONTAINER*/
	display: flex;/*uruchamiamy flexbox*/
	align-items: center;/*wyśrodkowanie na wysokość*/
	justify-content: center;
	
	/*żeby menu nie najeższało na treść*/
	scroll-margin-top: 5.2rem;
}
/* selektor class ma prefix '.' */
.zawartosc{
	/*background-color: red;*/
    min-width: 1220px;
	max-width: 1400px;

}
#pierwszaMobile{display: none;}
#pierwsza{
     
    background:url("https://th.bing.com/th/id/R.9760aaa63f46e67d4d3ac7d066b15eef?rik=NSo3dCAHcQayTQ&riu=http%3a%2f%2fwww.e-tapetki.pl%2ftapetki%2fduze%2f264505_staw-ogrod-japonia.jpg&ehk=w2bD%2bb0SVjXtUnXzCg49voHNuDHmZFBHOXOzD319hxc%3d&risl=&pid=ImgRaw&r=0") no-repeat center fixed;
	background-size: cover;
    min-height: 80vh;/* vh = viewport height = % wysokości okna przeglądarki */
    border-bottom:  0.1rem solid #40513B ;
	margin:0;
	padding:0;	
	justify-content: left;
	width: 100vw;
	height: 90vh;
	
}
#pierwsza .zawartosc {
	background-color: rgba(249,251,250, 0.2);
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	margin-top: 60vh;
	margin-bottom: 0.5rem;
	margin-right: 0;
	margin-left:0;
	padding:1rem 10rem;
	width: 100vw;
	min-width: 100vw;
}
#pierwsza img{
	
    height: 22rem;
	width:22rem;
    border:  0.5rem solid #333 ;
	border-radius: 1rem;
	
}
#pierwsza img:hover{
	
    scale:1.2;
	cursor:pointer ;
	
}
#druga{
    background-color: #F9FBFA;
    min-height: 75vh;/* vh = viewport height = % wysokości okna przeglądarki */
	border-top:0.3rem solid #40513B;
}
#druga .zawartosc{
    display:flex;
    
}
#druga .zawartosc aside{
    height: 50%;
    width: 30%;
}
#druga .zawartosc img{
    margin-top:0px;
     padding-top:0px;
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
    border:  0.6rem solid #40513B ;


}

#druga .zawartosc article{
    height: 40%;
    width: 65%;
    font-size: 3rem;
    color:#a88f59;
}
#druga .zawartosc article h1{
    font-size: 6rem;
    color:#40513B;
    font-weight: 400;
}
#druga .zawartosc hr{
    border: 2px solid #40513B;

}
#druga .zawartosc p{
	line-height: 3.5rem;
}



#szosta{
	margin: 0;
	min-height: 90vh;
	background-image: linear-gradient(#333, #464c44);
	justify-content: center;
	text-align: center;
	display: block;

  }
  #szosta #config-display{
	display:flex;
	justify-content: center;
	height: 70vh;
	margin-left:auto;
	margin-right: auto;

}
  
  #szosta #szosta-tresc
  {
	display: inline-block;
	color: #F9FBFA;
	padding:7vh 1rem 2rem 5rem;
	border-radius:0.1rem;
	width: 35vw;
	margin-left: auto;
	
  }
  #szosta #szosta-tresc h2{
	text-align:center;
	font-size: 4rem;
	font-weight: 800;
  }
  #szosta-tresc ul{

  }
  #szosta-tresc li{
	text-align: left;
	list-style-type:none;
	font-size:2.2rem;
	padding-top:2rem;
	padding-bottom:1rem;
	letter-spacing: 0.2rem;

  }
  #szosta-tresc li strong{
	font-weight: 700;
  }
  #szosta-tresc li:hover
  {
	scale: 1.1;
	transition:0.5s;
  }

 

  
#szostazdj
{
	display: inline-block;
	justify-content: center;
	height:100%;
	margin-right: auto;
	margin-left: auto;

	padding-top:35vh;
}

/*Tutaj zaczyna się ten nowy skrypt*/
.gallery {
	--s: 130px; /* kontroluje wielkość obrazków */
	display: grid;
	gap: 5px;
	position: relative;
  }
  
  .gallery input {
	position: absolute;
	background-size: contain; /* Dopasuj obraz do wymiarów */
	background-repeat: no-repeat;
	z-index: 1;
	border-radius: 0%;
	cursor: pointer;
	transition: 1.5s;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	content: url(../img/left-click\ \(1\).png); /* Usuń content używany do znaku plus */
	width: 15rem; /* Dostosuj szerokość do wymiarów plusa */
	height: 15rem; /* Dostosuj wysokość do wymiarów plusa */
	transform:rotate(0deg);
	z-index: 10;

}

  
  .gallery > img {
	width: var(--s);
	aspect-ratio: 1;
	grid-area: 1/1;
	border-radius: 50%;
	object-fit: cover;
	transform: scale(0.5);
	transition: 1s calc((var(--i) - 1) * 0.1s);
	z-index: -1;
	border: 0.4rem solid #333;	

  }
  
  .gallery > img:hover {
	scale: 1.2;
  }
  
  .gallery > img:nth-of-type(1) { --i: 1; }
  .gallery > img:nth-of-type(2) { --i: 2; }
  .gallery > img:nth-of-type(3) { --i: 3; }
  .gallery > img:nth-of-type(4) { --i: 4; }
  .gallery > img:nth-of-type(5) { --i: 5; }
  .gallery > img:nth-of-type(6) { --i: 6; }
  .gallery > img:nth-of-type(7) { --i: 7; }
  .gallery > img:nth-of-type(8) { --i: 8; }
  .gallery > img:nth-of-type(9) { --i: 9; }
  
  .gallery > input:checked ~ img {
	z-index: 10;
	transform: rotate(calc(var(--i) * 360deg / 8)) translate(calc(1.5 * var(--s))) rotate(calc(var(--i) * -360deg / 8));
}
  
  .gallery > input:checked {
	transform: rotate(390deg);
  }
  







#trzecia{
	background-color: #F9FBFA;
    min-height: 75vh;/* vh = viewport height = % wysokości okna przeglądarki */
	
	margin-top: 0rem;
	padding-top: 0rem;
	border-bottom: 0.5rem solid #40513B;

}
#trzecia .zawartosc{
	padding-top: 10vh;
	padding-bottom: 30vh;
	width: 100%;
	

}
#trzecia #zawartosctrzecia{
	width: 100%;
	display: flex;
	gap: 40px;/*odstępy między elementami*/
	flex-wrap: wrap;
	justify-content: center;

}
#trzecia h1{
	text-align: center;
	color: #40513B;
	font-size:10rem;
}
#trzecia p{
	text-align: center;
	font-size:2rem;
	padding:1rem 1rem;
	color:#40513B;
	font-weight: 500;
}
#trzecia hr{
	width: 85%;
	border:0.1rem solid #40513B;
	
}
#trzecia article{
	
	border:3px solid #40513B;
	border-radius: 1rem;
	width: 10%;
	padding:0;
	color:white;
	margin:2rem;
	background-color:#7A9329 ;
	justify-content: center;
	flex: 1 1 350px;/* domyślnie: 0 1 auto; zmieniamy tylko na pierwszej pozycji flex-grow na 1 */
	font-size:2rem;

}
#trzecia article hr{
	padding:0;
	margin:0;
}
#trzecia article h2{
	text-align: center;
	font-weight: 600;
	font-size: 2.5rem;
	padding:3rem;
	background-color: #40513B;
	width: 100%;
}
#trzecia article img{
	width:10rem;
	height: 10rem;
}
#trzecia article ul{
	background-color: #F9FBFA;
	
}
#trzecia article li{
	color:#40513B;
	padding:2rem 2rem;
	font-size:2rem;
	list-style:georgian inside url('../img/tree-evergreen-svgrepo-com.svg');
	
}
#trzecia article li:hover{
	text-decoration: underline;
}


#czwarta{
	box-sizing: border-box;
	font-family: Lato, sans-serif;
	background-image: linear-gradient(#464c44, #333);
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;

	margin: 0;
	padding: 1rem;
	min-height: 120vh;
	
	
	
}
#czwarta .zawartosc{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	justify-content: center;
	text-align: center;
	
	

}
#czwarta  h1{
	display:inline-block;
	font-size:10rem;
	color:#F9FBFA;
	font-weight: 700;
	margin:5rem 5rem 8rem 5rem;

	
           
}
#czwarta img {
	width: 100%;
	padding:0;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
	border-radius: 1rem;
}

#czwarta ul {

	list-style: none;
	margin: 2rem;
	padding:0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 100rem;
	height: 60vh;
	scale:1.2;
}

#czwarta figure {	
	cursor:pointer;
	margin: 0;
	position: relative;
	overflow: hidden;
}

#czwarta figure::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

#czwarta figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

#czwarta a:is(:hover, :focus) figure::after {
	opacity: 1;
}

#czwarta a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}
@media (prefers-reduced-motion: no-preference) {
	#czwarta figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	#czwarta figure::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	#czwarta a:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	#czwarta a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	#czwarta a:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}

#formularz{
	background-image: linear-gradient(#333, #464c44);

}
#footer
{
background-color: #333;
height: 2vh;
width: 100%;
color: white;
text-align: center;
}

/* Formularz */
#stopka{
	background-color: #333;
	color: white;
	padding: 5vw;
}
#stopka .zawartosc{
	border: 1px solid rgba(0,0,0,0.2);
	display: flex;
	gap: 5rem;
	padding: 10rem;
	width: 70vw;
	box-shadow: 0 0 4rem rgba(0,0,0,.3);
	border-radius: 2rem;
}
#stopka article{
	flex: 1;
	line-height: 2rem;
	font-size: 1.4rem;
}
#stopka article h6{
	font-size: 2.5rem;
	font-weight: 200;
	color: #999;
	margin-bottom: 3vh;
}
#stopka article ul{}
#stopka article ul li{
	padding-bottom: 2rem;
}
#stopka article ul li strong{
	display: block;
	padding-bottom: .5rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 700;
	color: #999;
}
#stopka article ul li a{
	color: #fff;
	text-decoration: none;
}
#stopka article ul li a:hover{}
#stopka article form{}
#stopka article form input{
	background: none;
	border: 0;
	border-bottom: 1px #666 solid;
	margin-bottom: 1rem;
	padding: .5rem 0;
	font-family: inherit;
	font-size: 1.2rem;
	width: 100%;
	box-sizing: border-box;
	color: white;
	font-weight: 600;
}
#stopka article form input:focus{
	outline: 0;
	transform: scale(1.1);
	border-bottom: 1px solid white;
}
#stopka article form input[type=checkbox]{
	width: auto;
}
#stopka article form label{
	font-size: 1rem;
	display: inline-block;
	transform: translateY(-.25rem);
}
#stopka article form input[type=reset],
#stopka article form input[type=submit]{
	border: 0;
	color: #ccc;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1rem;
	display: inline-block;
	margin-right: 2rem;
	cursor: pointer;
	margin-top: 1rem;
	width: auto;
	box-shadow: 0 0 4rem rgba(0,0,0,.3);
	border-radius: 2rem;
	border: 0;
	border-bottom: 1px #666 solid;
	padding:0.5rem 1rem;

}

#stopka article form input[type=reset]:hover{
	color: red;
}
#stopka article form input[type=submit]:hover{
	color: green;
}
#stopka form input[type=textarea]{


}


@media all and (max-width:700px){
	*{
		width: 100%;

	}
	.zawartosc{
		max-width: 700px;
		
	}
	nav{
		display: none;
	}
	section{
		min-height: 100vh;
		scroll-margin-top:0;	
	}
	#pierwsza{
		display: none;
	}
	
	#pierwszaMobile{
		display: block;
		width: 100%;
		height:100vh;
		margin:0;
		padding:0;
		border-bottom:  0.1rem solid #40513B ;
		background-color: red;

		}
	#pierwszaMobile img
	{	margin: 0;
		padding: 0;
		width: 100%;
		height: 100vh;
	}

	#druga
	{
		width: 100vw;
		display: inline-block;
		padding:2rem 0 2rem 0;
	}
	#druga .zawartosc{
		display: inline;
		font-size:0.5rem;
		width: 100vw;
		margin: 0;
		padding: 0;
	}
	#druga .zawartosc aside{
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		margin-bottom: 1rem;
		padding-bottom:2rem;
		text-align: center;
		
	}
	#druga .zawartosc aside img{
		border-radius:50%;
		height:50rem;
		width:50rem;
		margin-top: 5rem;
		margin-bottom:0.5rem;
	}
	#druga .zawartosc hr {
		width: 50%;
		margin-bottom: 2rem;
		
		
	}
	#druga .zawartosc article{
	text-align: center;
	
	width: 100%;

	}
	#druga .zawartosc article h1{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	#druga .zawartosc article p{
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		padding: 0;
		color:#333
	}
	#druga .zawartosc article p:hover{
		scale:1.2;
		background-color: red;
	}

	#szosta{
		display: none;
	}
	#trzecia{
		display:none;
	}
	#czwarta{
		display:none;
	}

	#czwarta .kolumna {
        flex: 1 1 100%;
        margin: 1rem 0;
		
    }

	#stopka{
		background-color: #233142;
		color: white;
		text-wrap: nowrap;

		
	}
	#stopka img{
		display:block;
	}
	#stopka .zawartosc{
		font-size:3rem;
		width: 100%;
		display:block;
		border: none;
		text-align: center;
		justify-content: center;
	
	}
	
	#stopka .zawartosc .kolumnyStopka{
		text-align: center;
		width: 100%;
	}
	#formularzStopka{
			
	}

	#stopka .zawartosc ul{
		
		
	}
	#stopka .zawartosc #linkiStopka ul{
	
	}
	#stopka .links_footer{
		
	} 
	form input{
		display: block;
	}
:root{
    --primary-color: rgba(35, 49, 66, 0.5);
    --overlay-color: rgba(70,76,68,0.85);
    --menu-speed: 0.75s;
}
.menu-wrap{
	display: block;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color); 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    
    width:100vw;
    height: 100vh;
     visibility: visible; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--overlay-color);
    border-radius: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
     transform: scale(0); 
    transition: all 0.4s ease;
	z-index: 9999;
	
}
.menu-wrap .menu > div >div{
    text-align: center;
    
    opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu >div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}
} 