*{
    transition:400ms;
	scroll-behavior: smooth;
}
html{}
body{}
header
{
    background-color: rgb(233, 231, 231);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0 0;
	position: fixed;
	width: 100%;
    top:0;
    left:0;
    right:0;
    border:1px solid black;
    padding:0px 0px;
    font-weight: bold;
    text-transform: uppercase;

    
}
header nav{
  
}
#Logo{
    font-size: 2rem;
    color:green;
    padding:1rem 4rem;
    margin:0 1rem;

    
}


#nav_head{}
header nav ul{
    display: flex;
	gap:2rem;
    font-size: 1 rem;
}
header nav ul li{
    list-style-type: none;
    
}
header nav ul li a{
    color:black;
    text-decoration: none;
    font-size:2rem;
}
header nav ul li a:hover{}

.theme-switch-wrapper{
    text-align: right;
}
main{
    scroll-margin-top:11rem;
}
main.img{
    
}



footer{
    
}