@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* SELEKTORY GLOBALNE */
*{
	transition: 400ms;
	scroll-behavior: smooth;
}
html{
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /* domyślnie */
	
	/*
	rem = root emphasis = wielokrotność rozmiaru fontu bazowego
	em = emphasis = wielokrotność rozmiaru fontu w danym elementcie (lub nadrzędnym)
	*/
	font-size: 10px;
}
body{
	font-size: 1.6rem;
}

/* NAWIGACJA */
nav{
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	
	/*śledzące menu*/
	position: fixed;
	width: 100%;
}
nav ol{
	display: flex;
	gap: 2rem;
}
nav ol li{}
nav ol li a{
	padding: 1rem 3vw;
	display: block;
	text-decoration: none;
	
	/*typografia*/
	color: #ddd;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.2rem;
	
}
nav ol li a:hover{
	background-color: #ddd;
	color: #333;
}

/* WSZYSTKIE SEKCJE */
section{
	min-height: 95vh;/*vh = viewport height = % wysokości okna przeglądarki*/
	/*min-height = wysokość ma tyle, ale może być wyższa w zależności od zawartości*/
	
	/*flex container*/
	display: flex;/*uruchamiamy flexbox*/
	align-items: center;/*wyśrodkowanie na wys.*/
	justify-content: center;
	
	/*odsunięcie przy przewijaniu*/
	scroll-margin-top: 56px;
}
/* selektor CLASS ma prefix '.' */
.zawartosc{
	/*flex items*/
	/*background-color: orange;*/
	max-width: 1000px;
}

/* POSZCZEGÓLNE SEKCJE */
/* selektor ID ma prefix '#' */
#pierwsza{
	background-color: #ededed;
}
#pierwsza .zawartosc{
	display: flex;
	flex-direction: row;/*domyślnie*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4vh;
}
#logo{
	font-size: 9rem;
	font-weight: 100;
	background-color: #fff;
	color: #333;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
}
#pierwsza h1{
	font-size: 6rem;
	font-weight: 100;
	color: #333;
}
#pierwsza h1 strong{
	font-weight: 900;
}
#pierwsza a{
	margin-top: 7vh;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.2rem;
	padding: 2rem 4rem;
	border-radius: 2rem;
}
#pierwsza a:hover{
	background-color: #fff;
	box-shadow: 0 .3rem 2rem rgba(0,0,0,.3) inset;
}

#druga{
	background-color: #666;
	padding: 4vh 3vw;
}
#druga .zawartosc{
	/*flex container*/
	display: flex;
	gap: 40px;
}
#druga article{
	/*flex items*/
	flex: 1;
}
#druga h2{}
#druga p{}

#trzecia{}
#trzecia .zawartosc{}
#trzecia h3{}

#czwarta{
	background-color: #999;
}
#czwarta .zawartosc{}

/* STOPKA */
#stopka{
	background-color: black;
	color: white;
}




